@font-face {
    font-family: 'Slowdex';
    src: url('font/Slowdex.otf') format('opentype'),
}

@font-face { 
    font-family: Roboto; 
    src: url("font/Roboto-Bold.ttf"); 
}

@font-face { 
    font-family: chicago; 
    src: url("font/Chicago.otf") format('opentype'); 
}













@keyframes slidein {
    from {
       transform: translateX(-100%);
    }
    to {
       transform: translateX(0);
    }
   }
   
   .page-content {
    animation: slidein 2s forwards;
    
   } 


















body {

    background-image: url('img/Coffee_background2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.titre-centre{
    margin: 01%;
    color: #433e38;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rectangle-blanc-arrondi {
    margin-top:  -3.5%;
    z-index: -1; 
    


    width: 100%; 
    height: 110%;
}





.image-sections {
    display: flex; /* Utilise Flexbox pour organiser les sections côte à côte */
    justify-content: center; /* Centre les sections horizontalement */
    align-items: center; /* Centre les sections verticalement */
    position: relative; /* Fixe la position pour qu'elles restent en bas de la page */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0; /* Ajoute un peu de padding pour améliorer l'apparence */
    
}

.image-section {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.image-section img {
    width: 100%; 
    height: auto;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #433e38;
    transition: 0.3s ease-in-out;
    transform: scale(0.9);
    
}

.TEXT_NOM_CAFE{
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #433e38;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.TEXT_NOM_CAFE:hover{
    color: rgb(145, 145, 145);
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}
.image-section:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}